@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --task-color-green: #009b00;
    --task-color-yellow: #e9d902;
    --task-color-red: #dd2202;
    --task-color-purple: #a800a8;
}

h2 {
    font-size: larger;
}

p {
    font-size: small;
}

/* Styling for the main dashboard */

.taskCol {
    display: flex;
    height: 85vh; 
    flex-direction: column;
}

.openCol {
}

.wipCol {
    border-right: grey solid 1px;
    border-left: grey solid 1px;
}

.doneCol {
}




/* Styling for the taskboxes */

.headerMainPage {
    border-bottom: 1px solid #e2e8f0;
}


.taskBox {
    border: 1px solid black;
    border-radius: 10px;
    width: 15rem;
    height: 15rem;
}

.taskBoxColor {
    border-start-start-radius: 9px;
    border-start-end-radius: 9px;
    background-color: var(--task-color-green);
    padding: 6px;
}


.taskBoxContent {
    
}

.taskBoxHeader {
    border-bottom: grey 1px solid;
}

.taskBoxTextContent {
    padding-top: 1rem;
}